.feature-list {
  display: flex;
}

.feature-list .feature-list__item {
  width: 270px;
  margin-left: 30px;
}

.feature-list .feature-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .feature-list__text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
}

.top-features {
  background-color: var(--feature-bg-color);
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 30px;
}

.feature-list__icon-features {
  display: block;
  margin: auto;
}
